/************************************
************** GENERAL **************
************************************/
@media screen and (min-width: 768px){
  .container{
    width: 700px;
  }
  section.jumbotron{
    padding: 20px !important;
  }
  .jumbotron h1{
    font-size: 40px;
  }
  .jumbotron p{
    font-size: 15px;
  }
}

body{
  padding-top: 20px;
}

.jumbotron .bg-info{
  margin: 10px 0 0;
  padding: 10px;
}

.callback-info{
  padding: 10px;
  text-align: center;
}

h1{
  margin: 0 0 20px;
  text-align: center;
}

/************************************
*************** FORM ****************
************************************/
form{
  overflow: hidden;
}

  /* input size */
  form .line{
    overflow: hidden;
    margin-bottom: 15px;
  }
    form .line div.big,
    form .line div:first-child{
      float: left;
    }
    form .line div:last-child{
      float: right;
    }
    form .line div.big{
      width: 65%;
    }
    form .line div.small{
      width: 30%;
    }
    form .line div.half{
      width: 48%;
    }

  /* credit card types */
  form .cc-types{
    overflow: hidden;
    text-align: center;
    list-style: none;
    margin: 0 0 5px;
    padding: 0;
    clear: both;
  }
    form .cc-types li{
      display: inline-block;
      padding: 0 10px;
    }
      form .cc-types li i{
        font-size: 30px;
      }
      form .cc-types.visa li i.fa-cc-visa,
      form .cc-types.mastercard li i.fa-cc-mastercard,
      form .cc-types.amex li i.fa-cc-amex{
        color: green;
      }
  
  /* error list */
  form .error-list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
    form .error-list li{
      margin: 3px 0 0;
      color: red;
    }
      form .error-list li:before{
        padding-right: 8px;
        content: "•";
      }