<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Netengine's Test</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="Netengine's Test" />

    <meta property="og:title" content="Netengine's Test"/>
    <meta property="og:site_name" content="Netengine's Test"/>
    <meta property="og:url" content="http://www.netengine.com.au"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Netengine's Test"/>

    <!-- Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">
    
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="app/assets/js/app.js"></script>
  </head>

  <body ng-app="netengine" class="container">
    
    <section ng-controller="creditCardCtrl" class="jumbotron">
      <h1>Credit Card Check</h1>

      <p>Insert your credit card data on the fields below:</p>
      
      <!-- Form input card data -->
      <form ng-submit="addNewOrderPayment(newOrderPayment);">
        <div class="line">
          <!-- Card Number -->
          <div class="big">
            <input type="text" placeholder="Card Number" ng-model="newOrderPayment.cardNumber" class="form-control"/>
          </div>
          <div class="small">
            <!-- CVV -->
            <input type="text" placeholder="CVV" ng-model="newOrderPayment.cvv" class="form-control"/>
          </div>
        </div>
        
        <div class="line">
          <!-- First Name -->
          <div class="half">
            <input type="text" placeholder="First Name" ng-model="newOrderPayment.firstName" class="form-control"/>
          </div>
          <!-- Last Name -->
          <div class="half">
            <input type="text" placeholder="Last Name" ng-model="newOrderPayment.lastName" class="form-control"/>
          </div>
        </div>

        <div class="line">
          <!-- Expire Month -->
          <div class="half">
            <select class="form-control">
              <option value="0">Expire Month</option>
            </select>
          </div>
          <!-- Expire Year -->
          <div class="half">
            <select class="form-control">
              <option value="0">Expire Year</option>
            </select>
          </div>
        </div>

        <!-- Submit -->
        <button class="btn btn-primary btn-block">Send Data</button>
      </form>
    </section>

  </body>
</html>